@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
  @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Open Sans, sans-serif;
  margin: 0%;
  padding: 0%;
}
h1 {
  color: #000;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
}
p {
  color: #555;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}
h2 {
  color: #000;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.list__style > li > a {
  color: #222;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.list__style > li > a:hover {
  color: #24ab70;
}
button {
  border: none;
  font-family: Open Sans, sans-serif;
  cursor: pointer;

  transition: box-shadow 0.3s, transform 0.3s;
}
.primary-button {
  background-color: #24ab70;
  color: white;
}
button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.logo a {
  text-decoration: none;
}

/* ----------------swiper styles */

.swiper-button-next,
.swiper-button-prev {
  color: rgba(14, 13, 13, 0.432);
  /* color: red; */
}
